.triangle {
  width: 0px;
  height: 0px;
  border: solid 20px;
  border-color: transparent transparent #be4b49 transparent;
  position: relative;
  left: 25px;
}
.alert-message {
  width: 490px;
  background-color: #be4b49;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  padding: 0 27px 0 27px;
}
.alert-input {
  border: 1px solid red;
}
@media screen and (max-width: 640px) {
  .alert-message {
    padding-left: 0;
    padding-right: 0;
    width: 90%;
    margin: 0 auto;
    position: relative;
    left: -25px;
  }
}
