@import "normalize";
@import "images";
body {
  font-family: Roboto;
}
.full {
  width: 100%;
}
/* header */
.header--structure {
  height: 75px;
  position: fixed;
  top: 0px;
}
.header--skin {
  background-color: #289fd0;
  color: #ffffff;
}
.header__logo {
  display: inline-block;
  height: 30px;
  width: 141px;
  margin: 23px auto 22px 38px;
  background: $logo;
}
.header__navigation--structure {
  height: 75px;
  line-height: 75px;
  float: right;
}
.header__navigation--skin {
  font-size: 22px;
  color: #ffffff;
  letter-spacing: 0px;
}
/* slider */
.slider--structure {
  margin-top: 75px;
  height: 250px;
}
.slider--skin {
  background-image: $slider;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 640px) {
  .slider--structure {
    height: 400px;
  }
}
/* main */
.center {
  max-width: 1024px;
  margin: 0 auto;
}

.content-container {
  background-color: red; /*development*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.article {
  /*ovo treba rastavit posli*/
  max-width: 360px;
  margin: 2% auto;
  height: 800px;
  display: inline-block;
  background-color: yellow;
  flex: 0 1 322px;
}
@media screen and (max-width: 768px) {
  .article {
    flex-basis: 363px;
    height: 720px;
  }
}
@media screen and (max-width: 640px) {
  .article {
    flex-basis: 356px;
    height: 660px;
  }
}
.button-container {
  height: 160px;
  color: gray;
  display: flex;
}
.button--structure {
  border-radius: 4px;
  width: 321px;
  height: 60px;
  margin: auto;
}
.button--skin {
  background-color: #b0b0b0;
  font-size: 22px;
  color: #ffffff;
  letter-spacing: 0px;
  line-height: 60px;
  text-align: center;
  font-weight: 600;
}
@media screen and (max-width: 640px) {
  .button-container {
    height: 140px;
  }
  .button--structure {
    width: 100%;
    margin: auto 10px;
  }
}

/* form */

/* footer*/

.footer--structure {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  height: 70px;
}
.footer--skin {
  background: #4a4a4a;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0px;
  line-height: 70px;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .footer--structure {
    height: 120px;
    line-height: 33px;
    flex-direction: column;
    justify-content: center;
  }
}
